.block_red {
  height: 200px;
  background-color: red;
  float: left;
  width: 20%;
}

.block_green {
  height: 200px;
  background-color: green;
  float: left;
  width: 20%;
}

.block_blue {
  height: 200px;
  background-color: blue;
  float: left;
  width: 20%;
}

.block_yellow {
  height: 200px;
  background-color: yellow;
  float: left;
  width: 20%;
}

.block_black {
  height: 200px;
  background-color: black;
  float: left;
  width: 20%;
}